h1 {
    color: red;
    margin: auto;
    font-family: "Palatino Linotype", Palatino, serif;
    font-size: 36px;
}

body {
    margin: auto;
    width: 50%;
    font-family: "Palatino Linotype", Palatino, serif;
    font-size: 28px;
}

label {

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Palatino Linotype", Palatino, serif;
    font-size: 20px;
}

input[type=submit] {
    background-color: seagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form {
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    background-color: lightblue;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-overflow: ellipsis;
}